
// some color value collection
$blue1    : #0E83CD;
$blue2    : #4593E3;
$blue3    : #226FBE;
$blue4    : #5CBCF6;
$blue5    : #0E83CD;
$blue6    : #ECF0F1;
$blue7    : #49A7DF;
$blue8    : #166BA2;
$blue9    : #1B3647;
$blue10   : #152836;

$red1     : #F06060;
$red2     : #E96D65;
$red3     : #FD6A62;

$yellow1  : #FCD04B;
$yellow2  : #FCAD26;
$yellow3  : #EEA303;
$yellow4  : #E9931A;
$yellow5  : #D54F30;
$yellow6  : #FDC162;

$green1   : #2ECC71;
$green2   : #2AC56C;
$green3   : #0A833D;
$green4   : #96A94B;

$purple1  : #9E54BD;
$purple2  : #3851BC;
$purple3  : #F68DBB;