.slider{
  height: 100px;
  width: 100%;
  background-color: #DDD;
}

// body{
//     -webkit-perspective:1000px;
//     perspective:1000px;
//     backface-visibility: hidden;
// }

.test2{
    position: fixed;
    bottom: 20px;
    width: 90%;
    left: 5%;
    // width: 100%;
}
.li{
    padding: 10px;
    img{
        display: block;
        max-width: 100%;
    }
}
.bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}
.weixin_success{
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF;
    .ws_head{
        border-radius: 10px 10px 0 0;
        background-color: #4fb81b;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFF;
        font-size: 1.6rem;
    }
    .ws_body{
        padding: 1rem 1.4rem;
        h3{
            font-size: 1.4rem;
            color: #4fb81b;
            font-weight: bold;
            height: 2.4rem;
        }
    }
    .ws_block{
        &:nth-child(1){
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px dashed #DDD;
        }
    }
    .pic{
        width: 100px;
        img{
            display: block;
            width: 100px;
            height: 100px;
            border: 1px solid #eee;
        }
    }
    .info{
        // width: 55%;
        padding-left: 110px;
        .p1{
            font-size: 2rem;
            font-weight: bold;
        }
        .p2{
            color: #999;
            font-size: 1.2rem;
        }
        .p3{
            color: #4fb81b;
            font-size: 1.2rem;
            position: absolute;
            bottom: 0;
        }
    }
    @media screen and (min-width: 340px) {
        .info{
            .p2,.p3{
                font-size: 1.4rem;
            }
        }
    }
    /*
        nth-child did not work in iphone
     */
    .hotlinks{
        a{
            &:first-child{
                margin-bottom: 1rem;
            }
            display: block;
            color: #333;
        }
        a:visited{
            color: #999;
        }
    }
}
// header{
//     height: 48px;
//     position: fixed;
//     width: 100%;
//     background-color: #333;
//     z-index: 5050;
// }
.wrapperAll{
    // height: 100%;
    width: 100%;
    padding-top: 48px;
    // margin-top: -48px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.block{
    height: 150px;
    margin: 0 15px 15px;
    background-color: #DDD;
    // -webkit-perspective:1000px;
    // -webkit-transform-origin: 50% 100%;
    // -webkit-transform: rotate3d(1,0,0,45deg);
    &:last-child{
        margin-bottom: 0;
    }
}
.btm-opers{
    text-align: center;
    width: 100%;
}

///////////
// btn按钮 //
///////////
.btn{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: #EEE;
    color: #666;
    text-align: center;
    padding: 5px 10px;
}

.fix{
    position: fixed;
}
.fix-bottom{
    left: 0;
    bottom: 0;
}
#prev{
    left: 10px;
    bottom: 10px;
    z-index:10;
}
#next{
    right: 10px;
    bottom: 10px;
    z-index: 10;
}