.mu-dialog-bglayer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 3500;
  background-color: rgba(0, 0, 0, 0.8);
}

.mu-dialog {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  z-index: 3501;
}

.mu-visible {
  visibility: visible;
}

.mu-pop {
  width: 280px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: #FFF;
}

.mu-pop-alert {
  padding: 10px;
}

.mu-btn-ok {
  padding-top: 10px;
  border-top: 1px solid #222;
}

@media screen and (min-width: 640px) {
  .mu-dialog {
    width: 640px;
    left: 0;
    right: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mu-fadeIn {
  -webkit-animation: fadeIn .3s ease;
  animation: fadeIn .3s ease;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.mu-fadeOut {
  -webkit-animation: fadeOut .3s ease;
  animation: fadeOut .3s ease;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.mu-fadeInUp {
  -webkit-animation: fadeInUp .3s ease;
  animation: fadeInUp .3s ease;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
.mu-fadeOutDown {
  -webkit-animation: fadeOutDown .3s ease;
  animation: fadeOutDown .3s ease;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
.mu-fadeOutUp {
  -webkit-animation: fadeOutUp .3s ease;
  animation: fadeOutUp .3s ease;
}

@-webkit-keyframes mu-scaleDownIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes mu-scaleDownIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.mu-scaleDownIn {
  -webkit-animation: mu-scaleDownIn .3s ease;
  animation: mu-scaleDownIn .3s ease;
}

@-webkit-keyframes scaleDownOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
  }
}
@keyframes scaleDownOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
}
.mu-scaleDownOut {
  -webkit-animation: scaleDownOut .3s ease;
  animation: scaleDownOut .3s ease;
}

@-webkit-keyframes mu-scaleUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes mu-scaleUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.mu-scaleUpIn {
  -webkit-animation: mu-scaleUpIn .3s ease;
  animation: mu-scaleUpIn .3s ease;
}
