.slider {
  height: 100px;
  width: 100%;
  background-color: #DDD;
}

.test2 {
  position: fixed;
  bottom: 20px;
  width: 90%;
  left: 5%;
}

.li {
  padding: 10px;
}
.li img {
  display: block;
  max-width: 100%;
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.weixin_success {
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFF;
  /*
      nth-child did not work in iphone
   */
}
.weixin_success .ws_head {
  border-radius: 10px 10px 0 0;
  background-color: #4fb81b;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
}
.weixin_success .ws_body {
  padding: 1rem 1.4rem;
}
.weixin_success .ws_body h3 {
  font-size: 1.4rem;
  color: #4fb81b;
  font-weight: bold;
  height: 2.4rem;
}
.weixin_success .ws_block:nth-child(1) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #DDD;
}
.weixin_success .pic {
  width: 100px;
}
.weixin_success .pic img {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
}
.weixin_success .info {
  padding-left: 110px;
}
.weixin_success .info .p1 {
  font-size: 2rem;
  font-weight: bold;
}
.weixin_success .info .p2 {
  color: #999;
  font-size: 1.2rem;
}
.weixin_success .info .p3 {
  color: #4fb81b;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 340px) {
  .weixin_success .info .p2, .weixin_success .info .p3 {
    font-size: 1.4rem;
  }
}
.weixin_success .hotlinks a {
  display: block;
  color: #333;
}
.weixin_success .hotlinks a:first-child {
  margin-bottom: 1rem;
}
.weixin_success .hotlinks a:visited {
  color: #999;
}

.wrapperAll {
  width: 100%;
  padding-top: 48px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.block {
  height: 150px;
  margin: 0 15px 15px;
  background-color: #DDD;
}
.block:last-child {
  margin-bottom: 0;
}

.btm-opers {
  text-align: center;
  width: 100%;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: #EEE;
  color: #666;
  text-align: center;
  padding: 5px 10px;
}

.fix {
  position: fixed;
}

.fix-bottom {
  left: 0;
  bottom: 0;
}

#prev {
  left: 10px;
  bottom: 10px;
  z-index: 10;
}

#next {
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
