body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  /*font-size: 100%;*/
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", STHeiTi, sans-serif;
  font-size: 1.4rem;
  background-color: #FFF;
  overflow-x: hidden;
  position: relative;
}

html, body {
  /*-webkit-user-select: none;
  user-select: none;*/
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

::-webkit-scrollbar {
  width: 0px;
}

.cf:before {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
  content: "";
  display: table;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.por {
  position: relative;
}
.poa {
  position: absolute;
}

.overscroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}